body {
  background-color: black;
}

h1 {
  font-family: "Press Start 2P", cursive;
  -webkit-text-stroke: 2px black;
  font-size: 50px;
  color: rgb(60, 180, 120);
  text-align: center;
  padding-top: 50px;
  margin-bottom: 30px;
}

img {
  width: 150px;
  height: 75px;
  margin-left: 0px;
}

.fondo {
  height: 200px;
  background-image: url("img/fondo.png");
}

.elige {
  width: 750px;
  font-family: "Press Start 2P", cursive;
  font-size: 18px;
  float: left;
  margin-left: 50px;
  margin-bottom: 20px;
}

.combobox {
  width: 100px;
  height: 30px;
  font-family: "Press Start 2P", cursive;
  font-size: 14px;
  background: light rgb(129, 32, 32);
  border: none;
  float: right;
  padding: 2px;
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 50px;
}

.coche {
  width: 1000px;
  height: 75px;
  background-image: url("img/road.png");
}

.botones {
  font-family: "Press Start 2P", cursive;
  font-size: 10px;
  color: white;
  text-align: center;
  background-color: red;
  border-color: black;
  border-width: 2px;
  border-radius: 100%;
  float: right;
  padding: 35px;
  margin-left: 80px;
  margin-bottom: 300px;
}

.resultados {
  font-family: "Press Start 2P", cursive;
  font-size: 14px;
  color: white;
  text-align: left;
  float: right;
  padding: 5px;
  margin-left: 30px;
  margin-top: 50px;
  display: none;
}

.contenedor-flex {
  display: flex;
}

#reiniciar {
  display: none;
}
